#poke-stats {
    border: 1px solid black;
}

.jumbotron {
    padding: 5px;
	background-image: url('pokeapi_jumbotron.png'); 
	background-repeat: no-repeat;
    background-color: rgb(121, 17, 17);
}  

#pokeball-footer {
    text-align: center;
    display: none;
}

#time {
    text-align: center;
}

table, tr, th, td {
    border: 1px black solid;
    border-collapse: collapse;
}

tr, td, th {
    padding: 5px;
}

h1, p {
    font-family: 'Press Start 2P', cursive;
}

#pokemon-statistics-container {
    display: none;
}
